
.event-table {
    margin-top: 40px;
}

.join-btn {
    background-color: #FD9A00;
    color: white;
    margin: 0 6px;
}

.details-btn {
    background-color: #36C5AB;
    color: white;
    margin: 0 6px;
}